#------------------------------------------------------------------------------
#     Author: XuanJun
#      Email: idxuanjun@qq.com
#       Blog: http://blog.csdn.net/idxuanjun
#    Version: 0.0.1
# LastChange: 2013-11-16
#       Desc: Blog的git忽略文件配置
#------------------------------------------------------------------------------

#-----------------------------------------------------------------------------
# 忽略样例
#-----------------------------------------------------------------------------
##忽略掉所有文件名是 foo.txt的文件
#foo.txt
##忽略所有生成的 html文件,
#*.html
##foo.html是手工维护的，所以例外
#!foo.html
##忽略所有.o和 .a文件
#*.[oa]
##忽略foo目录
#foo/
##忽略所有foo.txt以外文件.
#!foo.txt


#-----------------------------------------------------------------------------
# 忽略文件配置
#-----------------------------------------------------------------------------
# 忽略所有Vim生成的临时交换文件,
*.swp
tags
